# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
client/.env
server/.env

# Build outputs
client/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/test_verify.log

# OS files
.DS_Store
Thumbs.db

# Misc
*.zip
*.traineddata
temp/
/tmp/
